<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/css/css.css" type="text/css">
<title>儿童青少年健康调查问卷</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
</head>
<body>
	<div class="CGtj">提交成功</div>
	
	<script type="text/javascript">
		
	//禁止ios返回键
	history.pushState(null, null, document.URL); 
		      window.addEventListener('popstate', function() {
		        window.location.href='#';
		      });

	
	//禁止安卓手机物理返回键
          	XBack = {};
 
	(function(XBack) {
		XBack.STATE = 'x - back';
		XBack.element;
 
		XBack.onPopState = function(event) {
			event.state === XBack.STATE && XBack.fire();
			XBack.record(XBack.STATE); //初始化事件时，push一下
		};
 
		XBack.record = function(state) {
			history.pushState(state, null, location.href);
		};
 
		XBack.fire = function() {
			var event = document.createEvent('Events');
			event.initEvent(XBack.STATE, false, false);
			XBack.element.dispatchEvent(event);
		};
 
		XBack.listen = function(listener) {
			XBack.element.addEventListener(XBack.STATE, listener, false);
		};
 
		XBack.init = function() {
			XBack.element = document.createElement('span');
			window.addEventListener('popstate', XBack.onPopState);
			XBack.record(XBack.STATE);
		};
 
	})(XBack); // 引入这段js文件
 
	XBack.init();
	XBack.listen(function() {});
	
	//取消
	//window.removeEventListener('popstate',function(){}); 

	
	</script>
	
</body>
</html>

